<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required permissions for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PregaBoo"
        tools:targetApi="31">
        <activity
            android:name=".views.KickCounter"
            android:exported="false" />
        <activity
            android:name=".views.AddSheduleMom"
            android:exported="false" />
        <activity
            android:name=".views.ShowMidwifeNotesMom"
            android:exported="false" />
        <activity
            android:name=".views.MidwifeAddMomNotes"
            android:exported="false" />
        <activity
            android:name=".views.Reminders"
            android:exported="false" />
        <activity
            android:name=".views.FoodVideo"
            android:exported="false" />
        <activity
            android:name=".views.F"
            android:exported="false" />
        <activity
            android:name=".views.ShowBabyShedule"
            android:exported="false" />
        <activity
            android:name=".views.ShowBabyGrowth"
            android:exported="false" />
        <activity
            android:name=".views.ShowVaccienceBaby"
            android:exported="false" />
        <activity
            android:name=".views.BabySeeEachDetailsDashboard"
            android:exported="false" />
        <activity
            android:name=".views.ShowMomGrowth"
            android:exported="false" />
        <activity
            android:name=".views.ShowSheduleMom"
            android:exported="false" />
        <activity
            android:name=".views.ShowVaccineMom"
            android:exported="false" />
        <activity
            android:name=".views.MomSeeEachDetailsDashboard"
            android:exported="false" />
        <activity
            android:name=".views.EachProducteDetails"
            android:exported="false" />
        <activity
            android:name=".views.MomBmiChart"
            android:exported="false" />
        <activity
            android:name=".views.AddVaccienceMom"
            android:exported="false" />
        <activity
            android:name=".views.MomDetailsUpdateDashboard"
            android:exported="false" />
        <activity
            android:name=".MomDetailsUpdateDashboard"
            android:exported="false" />
        <activity
            android:name=".views.AddBabyClinicDateShedule"
            android:exported="false" />
        <activity
            android:name=".views.AddVaccineBaby"
            android:exported="false" />
        <activity
            android:name=".views.ShowProducteUsers"
            android:exported="false" />
        <activity
            android:name=".views.SellerAddProducte"
            android:exported="false" />
        <activity
            android:name=".views.SallerDashboard"
            android:exported="false" />
        <activity
            android:name=".views.SellerLogin"
            android:exported="false" />
        <activity
            android:name=".views.SellerSentRequesteToAdmin"
            android:exported="false" />
        <activity
            android:name=".views.SocialActivity"
            android:exported="false" />
        <activity
            android:name=".views.Social"
            android:exported="false" />
        <activity
            android:name=".views.UpdateBabyDetails"
            android:exported="false" />
        <activity
            android:name=".views.CreatBabyAccount"
            android:exported="false" />
        <activity
            android:name=".views.UpdateMomDetails"
            android:exported="false" />
        <activity
            android:name=".controllers.KickController"
            android:exported="false" />
        <activity
            android:name=".views.ShowMoms"
            android:exported="false" />
        <activity
            android:name=".views.AdminCreateMidwifeAccount"
            android:exported="false" />
        <activity
            android:name=".views.DatepickerActivity"
            android:exported="false" />
        <activity
            android:name=".views.ShowMotherWeight"
            android:exported="false" />
        <activity
            android:name=".views.MidwifeLogin"
            android:exported="false" />
        <activity
            android:name=".views.GoogleSigningLocation"
            android:exported="false" />
        <activity
            android:name=".views.Bmichart"
            android:exported="false" />
        <activity
            android:name=".views.CreatePostActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.analytics.APP_ID"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".views.CreateAccountActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.OnboardingTwoActivity"
            android:exported="false" />
        <activity
            android:name=".views.OnboardingThreeActivity"
            android:exported="false" />
        <activity
            android:name=".views.OnboardingFourActivity"
            android:exported="false" />
        <activity
            android:name=".views.OnboardingFiveActivity"
            android:exported="false" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false" />
        <activity
            android:name=".views.ExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".views.TrackingToolsActivity"
            android:exported="false" />
        <activity
            android:name=".views.MomProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.KickCounterActivity"
            android:exported="false" />
    </application>

</manifest>